DB_HOST=localhost
DB_PORT=3306
DB_NAME=onlineshop
DB_USERNAME=root
DB_PASSWORD=root12345

contactMail=spprt.oscar@gmail.com

STRIPE_PUBLISHABLE_KEY=pk_test_51Nu7asCPUX2vXVEI9HTiZ98zZbmHLv3gh8mc2hHgy5rHl6FDQZITCK0fY9EnMtj2J03PbyPP6v8v3a6Y5UieG3xU00v56U3b2f
STRIPE_SECRET_KEY=sk_test_51Nu7asCPUX2vXVEIKWThhfC91yYRrvjwfYGz5IS82C6h5X6QaWGsxoUy39s2hKf7uZj1vehT0IFOoPrF5m16tPfs00FzgWT25K