img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  content: ".";
}

a {
  color: #313131;
  text-decoration: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

body {
  margin: 0;
  background: #efe2d9;
  color: #313131;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
body .wrapper {
  width: 100%;
}
body .wrapper header {
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header {
    max-width: 100%;
  }
}
body .wrapper header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 1440px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner {
    width: 95%;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner {
    width: 95%;
  }
}
body .wrapper header .header-inner .flex {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner .flex {
    flex-direction: column-reverse;
    align-items: end;
    margin-left: 10px;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .flex {
    display: block;
  }
}
body .wrapper header .header-inner h1 {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner h1 {
    width: 30%;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner h1 {
    width: 50%;
  }
}
body .wrapper header .header-inner nav .g-nav {
  display: flex;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav {
    display: block;
  }
}
body .wrapper header .header-inner nav .g-nav li {
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner nav .g-nav li {
    font-size: 12px;
  }
}
body .wrapper header .header-inner nav .g-nav li a {
  padding: 15px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner nav .g-nav li a {
    padding: 9px;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li a {
    display: block;
  }
}
body .wrapper header .header-inner nav .g-nav li a:hover {
  color: #313131;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li a:hover {
    background: #f47920;
  }
}
body .wrapper header .header-inner nav .g-nav li a:hover::after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
body .wrapper header .header-inner nav .g-nav li a::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #f47920;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li a::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #f47920;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
    display: none;
  }
}
body .wrapper header .header-inner nav .g-nav li a.active::after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu {
  display: none;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show {
  display: block;
  position: absolute;
  top: 35px;
  left: -113px;
  width: 350px;
  background: #ceaf9b;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  overflow-y: auto;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show {
    top: 28px;
    left: -113px;
    width: 350px;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: #003462;
    transition: all 0.5s ease;
  }
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show::-webkit-scrollbar {
  width: 10px;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show::-webkit-scrollbar-thumb {
  background: #977965;
  border-radius: 10px;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show li {
  position: relative;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show li a {
  display: block;
  padding: 12px 20px 12px 20px;
  color: #fff;
  font-weight: 700;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show li a:hover {
  background: #f47920;
  color: #313131;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show .dropdown-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show .dropdown-menu li {
  width: 100%;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show .dropdown-menu li a {
  font-weight: normal;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show .dropdown-menu li::after {
  display: none;
}
body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show .dropdown-menu li .badge-info {
  background: #003462;
  color: #fff;
  margin-left: 5px;
  padding: 1px 5px 2px;
  font-size: 10px;
  border-radius: 5px;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li .sub-menu.is-show .dropdown-menu li .badge-info {
    background: #b30000;
  }
}
body .wrapper header .header-inner nav .g-nav li.has-menu {
  position: relative;
}
body .wrapper header .header-inner nav .g-nav li.has-menu a {
  padding: 15px 30px 15px 24px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner nav .g-nav li.has-menu a {
    padding: 11px 15px 11px 6px;
  }
}
body .wrapper header .header-inner nav .g-nav li.has-menu::after {
  content: "\e5cf";
  position: absolute;
  font-family: "Material Symbols Outlined";
  top: -2px;
  right: 9px;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper header .header-inner nav .g-nav li.has-menu::after {
    right: -2px;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li.has-menu::after {
    top: 12px;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav .g-nav li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner nav {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100%;
    padding: 16.242vw 0 4.888vw;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease;
    opacity: 0;
  }
  body .wrapper header .header-inner nav.is-show {
    right: 0;
    opacity: 1;
    z-index: 1;
  }
}
body .wrapper header .header-inner .menu-toggle {
  display: none;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .menu-toggle {
    position: fixed;
    top: 27px;
    right: 10px;
    width: 35px;
    height: 28px;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    display: inline-block;
    transition: all 0.4s;
    z-index: 2;
  }
  body .wrapper header .header-inner .menu-toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.391vw;
    background-color: #141414;
    border-radius: 0.521vw;
  }
  body .wrapper header .header-inner .menu-toggle span:nth-of-type(1) {
    top: 0;
  }
  body .wrapper header .header-inner .menu-toggle span:nth-of-type(2) {
    top: 13px;
  }
  body .wrapper header .header-inner .menu-toggle span:nth-of-type(3) {
    bottom: 0;
  }
  body .wrapper header .header-inner .menu-toggle.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  body .wrapper header .header-inner .menu-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }
  body .wrapper header .header-inner .menu-toggle.active span:nth-of-type(3) {
    transform: translateY(-13px) rotate(45deg);
  }
}
body .wrapper header .header-inner .search-blk {
  display: flex;
  align-items: center;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .search-blk {
    margin-right: 60px;
  }
}
body .wrapper header .header-inner .search-blk .search-form {
  position: relative;
}
body .wrapper header .header-inner .search-blk .search-form input {
  padding: 10px 35px 10px 15px;
  border-radius: 50px;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .search-blk .search-form input {
    display: none;
  }
}
body .wrapper header .header-inner .search-blk .search-form button {
  content: "";
  position: absolute;
  top: 8px;
  right: 3px;
  bottom: 0;
  width: 40px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .search-blk .search-form button {
    top: -9px;
  }
}
body .wrapper header .header-inner .search-blk .language {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .search-blk .language {
    display: none;
  }
}
body .wrapper header .header-inner .search-blk .language img {
  width: 30px;
}
body .wrapper header .header-inner .search-blk .language input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
body .wrapper header .header-inner .search-blk .language input[type=checkbox]:focus {
  outline: 0;
}
body .wrapper header .header-inner .search-blk .language .toggle {
  height: 20px;
  width: 42px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #4caf50;
  background: #4caf50;
  transition: all 0.2s ease;
  margin: -4px 3px;
}
body .wrapper header .header-inner .search-blk .language .toggle:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
body .wrapper header .header-inner .search-blk .language .toggle:checked {
  border-color: red;
  background: red;
}
body .wrapper header .header-inner .search-blk .language .toggle:checked:after {
  transform: translatex(20px);
}
body .wrapper header .header-inner .search-blk .shopping {
  position: relative;
}
@media (max-width: 767.9px) {
  body .wrapper header .header-inner .search-blk .shopping {
    margin-top: 10px;
  }
}
body .wrapper header .header-inner .search-blk .shopping .number {
  position: absolute;
  top: -13px;
  right: -15px;
  background: rgba(0, 0, 0, 0.5019607843);
  color: #fff;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrapper header.fixed {
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 100%;
  left: 0;
  right: 0;
  background: #efe2d9;
}
body .wrapper main .slider ul {
  margin: 0;
}
body .wrapper main .slider .slick-prev {
  left: 87px;
}
@media (max-width: 767.9px) {
  body .wrapper main .slider .slick-prev {
    left: 25px;
  }
}
body .wrapper main .slider .slick-next {
  right: 87px;
}
@media (max-width: 767.9px) {
  body .wrapper main .slider .slick-next {
    right: 44px;
  }
}
body .wrapper main .slider .slick-prev:before, body .wrapper main .slider .slick-next:before {
  font-size: 30px;
}
body .wrapper main .slider .slick-dots {
  bottom: 23px;
}
body .wrapper main .slider .slick-dots li button::before {
  color: #fff;
  font-size: 15px;
}
body .wrapper main .slider .slick-dots li.slick-active::before {
  color: #fff;
}
body .wrapper main .container {
  max-width: 1440px;
  margin: 50px auto;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper main .container {
    max-width: 95%;
  }
}
@media (max-width: 767.9px) {
  body .wrapper main .container {
    max-width: 95%;
  }
}
body .wrapper footer {
  padding: 40px 0 0;
  background: #977965;
  color: #fff;
}
@media (max-width: 767.9px) {
  body .wrapper footer {
    padding: 40px 0 10px;
  }
}
body .wrapper footer a {
  color: #fff;
}
body .wrapper footer .footer-inner {
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper footer .footer-inner {
    max-width: 95%;
  }
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-inner {
    max-width: 95%;
  }
}
body .wrapper footer .footer-inner h3 {
  color: #f47920;
}
body .wrapper footer .footer-inner .ft-serch {
  margin-bottom: 30px;
}
body .wrapper footer .footer-inner .ft-serch .search-form {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
body .wrapper footer .footer-inner .ft-serch .search-form input {
  padding: 15px 35px 15px 15px;
  border-radius: 10px;
  flex: 0 0 35%;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .wrapper footer .footer-inner .ft-serch .search-form input {
    flex: 0 0 50%;
  }
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-inner .ft-serch .search-form input {
    flex: auto;
  }
}
body .wrapper footer .footer-inner .ft-serch .search-form button {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 0;
  height: 47px;
  background: none;
  border: none;
  cursor: pointer;
  background: #f47920;
  border-radius: 0 8px 8px 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
body .wrapper footer .footer-inner .ft-serch .search-form button:hover {
  opacity: 0.5;
}
body .wrapper footer .footer-inner .ft-serch p {
  padding-top: 5px;
  text-align: right;
}
body .wrapper footer .footer-inner .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .wrapper footer .footer-inner .row .col {
  width: 21%;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-inner .row .col {
    width: 100%;
  }
}
body .wrapper footer .footer-inner .row .col .ft-txt {
  margin-top: 10px;
  line-height: 1.8;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-inner .row .col .ft-txt {
    margin-bottom: 10px;
  }
}
body .wrapper footer .footer-inner .row .col.contact-us li {
  margin-bottom: 10px;
}
body .wrapper footer .footer-inner .row .col.contact-us .material-symbols-outlined {
  font-size: 20px;
  margin-right: 5px;
}
body .wrapper footer .footer-inner .row .col.contact-us a {
  display: flex;
  line-height: 1.5;
}
body .wrapper footer .footer-inner .row .col.contact-us a:hover {
  color: #f47920;
}
body .wrapper footer .footer-inner .row .col.contact-us a[href^=tel] {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
body .wrapper footer .footer-inner .row .col.ft-link li {
  position: relative;
  margin-bottom: 10px;
}
body .wrapper footer .footer-inner .row .col.ft-link li a::before {
  content: "\e5e1";
  font-family: "Material Symbols Outlined";
  display: inline-block;
  margin: 0 4px 2px 0;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}
body .wrapper footer .footer-inner .row .col.ft-link li a:hover {
  color: #f47920;
}
body .wrapper footer .footer-inner .row .col.ft-link li a:hover::before {
  color: #f47920;
}
body .wrapper footer .footer-inner .row .col.ft-link li span {
  background: #f47920;
  color: #fff;
  margin-left: 5px;
  padding: 1px 5px 2px;
  font-size: 10px;
  border-radius: 5px;
}
body .wrapper footer .footer-inner .row.ft-blk {
  align-items: center;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-inner .row.ft-blk {
    display: block;
    padding-top: 10px;
    text-align: center;
  }
}
body .wrapper footer .footer-inner .row .terms li {
  display: inline;
  padding: 0 10px;
}
body .wrapper footer .footer-inner .row .terms li:first-child {
  border-right: 1px solid #fff;
}
body .wrapper footer .footer-inner .row .terms li a:hover {
  color: #f47920;
}
body .wrapper footer .footer-link {
  background: rgba(206, 175, 155, 0.5490196078);
  padding: 15px 0;
}
body .wrapper footer .footer-link .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .wrapper footer .footer-link .row .extra-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-link .row .extra-link {
    display: block;
  }
}
body .wrapper footer .footer-link .row .extra-link .title {
  margin-right: 15px;
  font-size: 22px;
}
body .wrapper footer .footer-link .row .extra-link li {
  margin-right: 15px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.3294117647);
  border-radius: 5px;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-link .row .extra-link li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
body .wrapper footer .footer-link .row .extra-link li a {
  display: block;
  width: 20px;
  padding: 9px 14px;
}
body .wrapper footer .footer-link .row .extra-link li a:hover {
  opacity: 0.7;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-link .row .extra-link.payment .row {
    justify-content: flex-start;
  }
}
body .wrapper footer .footer-link .row .extra-link.payment li {
  background: none;
  border-radius: inherit;
}
body .wrapper footer .footer-link .row .extra-link.payment li a {
  width: 50px;
  padding: 0;
}
@media (max-width: 767.9px) {
  body .wrapper footer .footer-link .row .extra-link.payment li a {
    width: 40px;
  }
}/*# sourceMappingURL=style.css.map */