@mixin hover-css {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #f47920;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
}

@mixin hover-visible {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

@mixin for-phone-only {
  @media (max-width: 767.9px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 768px) and (max-width: 1440px) {
    @content;
  }
}